*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */

.header{
    position: absolute;
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;  
    background: #fff; 
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.122);

}
.header h1  {
    font-size:20px;
    margin: 10px;
    padding: 8px 16px;
    color:#000;
    font-family:monospace ;
    cursor: pointer;
}

.header h1:hover{
    background: gray;
}
.navbar{
    position: sticky top 0;
   padding: 8px 16px;
   margin: 10px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;

}
.navbar ul li a{
    text-decoration: none;
    padding: 8px 16px;
    margin: 12px;
  
    color: #000;
}
.navbar ul li a:hover{
    background: gray;
}


.image img {
    width: 100%;
    padding: 8px;
}
.centered{
    position: absolute;
    top: 58%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-size: 25px;
}
.centered span{
    background: #00000095;
    color: #fff;
    padding: 8px 16px;
}
/* header end */
/* project start */
.project{
  padding: 8px 16px;
  margin-left: 10px;
}
.project h3{
    margin-top: 45px;
 font-size: 25px;
 font-family: monospace;
 border: none;
 border-bottom:1px solid rgba(0, 0, 0, 0.067) ;
}
.image2{
     margin: 12px;
    display: flex;
    flex-wrap: wrap;
}
.image2 img{
    padding: 10px;
    width: 24.7%;
}
.summer{
    position: absolute;
    padding: 8px 16px;
    margin: 10px;
    background: #000;
    color: #fff;
}
.brick{
    position: absolute;
    padding: 8px 16px;
    margin: 10px;
    background: #000;
    color: #fff;
    margin-left: 25%;
}
.renovated{
    position: absolute;
    padding: 8px 16px;
    margin: 10px;
    background: #000;
    color: #fff;
    margin-left: 49.4%;
}
.barn{
    position: absolute;
    padding: 8px 16px;
    margin: 10px;
    background: #000;
    color: #fff;
    margin-left: 73.6%; 
}
.summer2{
    position: absolute;
    margin-top: 17.3%;
    padding: 8px 16px;
    background: #000;
    color: #fff;
    margin-left: 10px;
 
}
.brick2{
    position: absolute;
    margin-top: 17.3%;
    padding: 8px 16px;
    background: #000;
    color: #fff;
    margin-left: 24.9%; 
}
.renovated2{
    position: absolute;
    margin-top: 17.3%;
    padding: 8px 16px;
    background: #000;
    color: #fff;
    margin-left:49.3% ; 
}
.barn2{
    position: absolute;
    margin-top: 17.3%;
    padding: 8px 16px;
    background: #000;
    color: #fff;
    margin-left: 73.6%; 
}
/* project end */
/* about start */
.about{
    padding: 8px 16px;
    margin-left: 10px;
}
.about h3{
    margin-top: 45px;
    font-size: 30px;
    font-family: monospace;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.067) ;
}
.about p{
    font-size: 20px;
}
.container{
    margin: 25px;
    display: flex;
}
.container img{
    width: 100%;
    padding: 10px;
}
.oppacity{
    opacity: 0.8;
}
.container h3{
    padding: 8px 16px;
    font-size: 25px;
}
.grey{
    padding: 8px 16px;
    color: gray;
}
.container p{
    padding: 8px 16px;
    font-size:20px;
    font-family: sans-serif;  
}
.button{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}
.button:hover{
    background: rgba(128, 128, 128, 0.484);
}
/* about end */
/* contact start */
.contact{
    padding: 8px 16px;
    margin-left: 10px;
}
.contact h3{
    margin-left: 12px;
    margin-top: 45px;
    font-size: 30px;
    font-family: monospace;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.056) ;
}
.contact p{
  margin-top: 20px;
  margin-left: 12px;
}
.form{
    padding: 8px 16px;
}
.form input{
     margin: 5px;
    padding: 8px 16px;
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.303);
}
.button2{
    margin-top: 20px;
    margin-left: 12px;
    font-size: 15px;
    width: 10%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    background: #000;
    color: #fff;
    cursor: pointer;
}
.button2:hover{
    background: gray;
}
.image3 img{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
     padding: 8px 16px;
    margin: 10px auto;
}
/* contact  end */

/* footer start */
.footer{
    background-color: #000;
    width: 100%;
    height: 70px;
}
.footer p{
    margin: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 22px;
}
.footer p a{
color: #fff;
}
.footer p a:hover{
    color: green;
}
/* footer end */

